{% extends 'admin/base.html.twig' %}

{% block title %}Administration des Annonces{% endblock %}

{% block body %}
<div class="container-fluid">
<h1 class="y-5">Gestion des Annonces</h1>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Auteur</th>
                <th class="text-center">Reservation</th>
                <th class="text-center">Note</th>
                <th >Action</th>
            </tr>
            <tbody>
            {% for ad in pagination.data %}
                <tr>
                    <td>{{ad.id}}</td>
                    <td>{{ad.title}}</td>
                    <td> 
                        <img src="{{ad.author.picture}}" alt="" class="avatar avatar-micro mr-2"> 
                        {{ad.author.fullName}}
                    </td>
                    <td class="text-center">
                    <span class="badge badge-primary rounded">{{ad.bookings|length}}</span>
                    </td>
                    <td class="text-center">
                    <span class="badge badge-primary rounded">{{ad.averageRate|number_format(1,',', ' ')}}</span>
                    </td>
                    <td>
                        <a class="btn btn-primary" href="{{ path('admin_ad_edit',{'slug':ad.slug})}}"><i class="fas fa-edit"></i></a>
                        <a class="btn btn-danger" href="{{ path('admin_ad_delete',{'id':ad.id})}}"><i class="fas fa-trash"></i></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>

        </thead>
    </table>
    {{pagination.render()}}
    
   
</div>
{% endblock %}
