{% set url = path('ad_show', {slug: ad.slug}) %}
            <div class="col-md-4">
                <div class="card bg-light mb-3">
                    <div class="card-header text-center">
                        {{ad.rooms}} chambres, <strong> {{ad.price}} euros / nuits</strong> <br>
                        
                        {% if ad.comments|length > 0 %}
                        {% include 'partials/rating.html.twig' with {'rating' : ad.averageRate} %}
                        {% else %}
                        <small>Pas encore noté</small>
                        {% endif %}
  
                    </div>
                    <a href="{{url}}"><img src="{{ad.coverImage}}" alt="" style="width:100%; height:200px;display:block"></a>
                    <div class="card-body">
                    <a href="{{url}}"><h4 class="card-title">{{ad.title}}</h4></a>
                    <p class="card-text">{{ad.introduction | raw}}</p>
                    <a href="{{url}}" class="btn btn-primary">Voir la Location</a>
                    {% if app.user and app.user == ad.author %}
                    <a  class="btn btn-primary" href="{{path('ad_edit',{slug:ad.slug})}}">Modifier</a>
                    {% endif %}
                    </div>
                </div>
            </div>