{% extends 'base.html.twig' %}


{% block title %}-Nos Anoonces{% endblock %}

{% block body %}
{% set user = ad.author %}

<div class="container-fluid ban p-3" style="background-image: url({{ad.coverImage}}); min-height:350px">
    <div class="container">
        <h1 class="text-center">{{ad.title}}</h1>
        <p>{{ad.introduction | raw}}</p>
        <p class="h2">
            <strong>{{ad.rooms}} chambres</strong> pour <strong>{{ad.price}} euro</strong> par nuit
        
        </p>
        <a href="#" class="btn btn-primary">Reserver</a>

    </div>
</div>
<div class="container mb-5">
    <div class="row">
        <div class="col-md-8 mt-3">
            <p class="h2">{{ad.content | raw}}</p>
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    {% for image in ad.images %}
                    <li data-target="#carouselExampleIndicators" data-slide-to="{{loop.index0}}" {% if loop.first %} class="active" {% endif %}></li>
                    {% endfor %} 
                </ol>
                <div class="carousel-inner">
                    {% for image in ad.images %}
                    <div class="carousel-item {% if loop.first %} active {% endif %}">
                        <img class="d-block w-100" src="{{image.url}}" alt="{{image.caption}}">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>{{image.caption}}</h5>
                        </div>
                    </div>
                    {% endfor %}     
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
                </div>
                {% if app.user and app.user == ad.author %}
                <a  class="btn btn-primary" href="{{path('ad_edit',{slug:ad.slug})}}">Modifier</a>
                <a  class="btn btn-danger" href="{{path('ad_delete',{slug:ad.slug})}}" onclick="return confirm( `Etes vous sur de vouloir suprimer l'annonce {{ad.title}} ?`)">Supprimer</a>
                {% endif %}
        </div>
        <div class="col-md-4">
            <div class="row my-3">
                <div class="col-md-3">
                    <a href="{{path('user_show',{slug:user.slug})}}"><img src="{{user.picture}}" class="avatar avatar-medium" alt="avatar de {{user.firstName}}"></a>
                </div>
                <div class="col-md-9">
                    <a href="{{path('user_show',{slug:user.slug})}}"><h3>{{user.fullName}} </h3></a>
                    <span class="badge badge-primary">{{user.ads | length}} annonces</span> 
                   <p> {{user.description | raw}} </p>
                </div>
            </div>
            
        </div>
    </div>
    
</div>
{% endblock %}
